<h4>Your name: </h4>
<h1><%= @user.name %></h1><br/>

<h4>Your email address: </h4>
<h1><%= @user.email %></h1><br/>

<h4>Your account was confirmed: </h4>
<h1><%= @user.confirmed_at %></h1><br/>

<h2>Your Todo items</h2>

<% @items.each do |item| %>
<div class="row">
  <div class="col-md-8">
  <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
          <%= render partial: 'items/item', locals: {user: @user, item: item} %>
        </h4>
      </div>
  </div>
  </div>

</div>
<% end %>
<br/>
<div class-"row">
<div class="col-md-4">
  <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
              <%= render partial: 'items/form' %>
        </h4>
    </div>
  </div>
</div>
</div>
